.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.category{
  width: 100%;
  margin: 3px;
  border:none;
  background: white;
  color:black;
  font-family: 'PT Sans Caption', sans-serif;
  font-size:18px;
}

.category:hover{
  background:goldenrod;
  color:black;
  margin: 3px;
}

.hr-div {
    margin-top:50px;
}

.hr{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 40% 40%, 0, 50% 50%, 350, from(#000), to(#fff));
}

#add-cat{
  background:forestgreen;
  color:white;
  width: 100%;
  border:none;
  font-size:18px;
}

#add-cat:hover{
  background:rgb(78, 163, 78);
  color:white;
  border:none;
  font-size:18px;
}

#amount{
  width: 48%;
}

#cat-container{
  font-family: 'PT Sans Caption', sans-serif;
  text-align:center;
  max-width: 50%;
  margin: 5% auto;
  background: white;
}

#exp-container h2{
  text-align:center;
}

#form-container{
  min-width: 300px;
  max-width: 50%;
  margin: 5% auto;
  background: white;
  padding: 20px;
  box-shadow: 10px 33px 35px -20px rgba(0,0,0,0.50);
  -webkit-box-shadow: 10px 33px 35px -20px rgba(0,0,0,0.50);
  -moz-box-shadow: 8px 33px 23px -15px rgba(0,0,0,0.50);
}

#form-container h3{
  text-align:center;
}